
body {
    background-color: rgb(202, 71, 23);
    width: 600px;
    margin: 25px auto;
    padding: 25px 150px 50px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    text-align: center;
}

a {
    color:navy
}

a:hover {
    font-weight: bold;
}